<html>
<body>
<form action="/create-message" method="post">
    <input type="text" name="message" placeholder="Enter your message"/>
    <button type="submit">Submit</button>
    </form>

</form>
<form action="/edit-message" method="post">
    <input type="number" name="edit-id" placeholder="#"/>
    <input type="text"  name="edit-message" placeholder="Edit Message">
    <button type="submit">Edit Message</button>
</form>
Hello, {{name}}!<br>
<ol>
{{#messages}}
<li>
    {{text}}
    <form action="/delete-message" method="post" style="display: inline-block">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete Message</button>
</li>
{{/messages}}
    </ol>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>